<form [formGroup]="form">
  <!-- Input -->
  <my-components-input controlName="email" label="Email" placeholder="Introduce tu email" type="email"
    autocomplete="email" variant="primary">
    <span error>El email es obligatorio y debe ser válido</span>
  </my-components-input>

  <!-- Numeric input -->
  <my-components-input-number controlName="quantity" label="Cantidad" [min]="1" [max]="10"
    placeholder="Ingresa cantidad">
    <span error>La cantidad debe estar entre 1 y 10</span>
  </my-components-input-number>

  <!-- Dropdown -->
  <my-components-dropdown controlName="country" label="País" [options]="countryOptions"
    placeholder="Selecciona un país">
    <span error>El país es obligatorio</span>
  </my-components-dropdown>

  <!-- Datepicker -->
  <my-components-datepicker controlName="birthdate" label="Fecha de nacimiento" placeholder="Selecciona tu fecha">
    <span error>La fecha es obligatoria</span>
  </my-components-datepicker>

  <!-- Radio Group -->
  <my-components-radio-group controlName="color" [options]="[
      { label: 'Rojo', value: 'red' }, 
      { label: 'Verde', value: 'green' },
      { label: 'Azul', value: 'blue' }
    ]" errorMessage="Por favor selecciona un color"></my-components-radio-group>

  <!-- Textarea -->
  <my-components-textarea controlName="description" label="Descripción" placeholder="Escribe una descripción..."
    [rows]="5">
    <span error>La descripción es obligatoria</span>
  </my-components-textarea>

  <!-- Checkbox -->
  <my-components-checkbox controlName="acceptTerms" label="Acepto los términos y condiciones">
    <span error>Debes aceptar los términos</span>
  </my-components-checkbox>



  <!-- FileUpload -->
  <my-components-file-upload controlName="photos" label="Sube imágenes" accept="image/*" [multiple]="true">
    <span error>Debes subir al menos una imagen.</span>
  </my-components-file-upload>

  <my-components-button (click)="sendForm()">Enviar Form</my-components-button>
</form>